.black {color: black;}
.white {color: white;}
.red {color: #a50122;}

body{
    background-color: white;
}
body.dark-mode {
    background-color: black;
}

#timer{
    text-align: center;
    font-size: clamp(30px, 5vw, 60px);
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    color: black;
}

#timer.dark-mode {
    color: white;
}

.switch{
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.4);
}